@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

html{
    font-family: "Red Hat Disply", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style:normal;
}

.container-fluid{
    position: relative;
    width:fit-content;
    margin: 0;
}
.text-block{
    position: absolute;
    top:5%;
    right:25%;
    background: rgb(255, 255, 255);
    background: rgba(234, 244, 255, 0.5);
    color: black;
    width: 50%;
    text-align: center;
    align-content: center;
    padding: 20px;
}
.carousel slide{
    padding-top: 50px;
    padding-bottom: 50px;
}

a:link {
    color: white;
}
a:visited{
    color: white;
}
a:hover{
    color: rgb(255, 217, 0);
}
a.one:link {
    color: black;
}
a.one:visited{
    color: black;
}