/* use box-sizing property on ALL elements to make alignment easier. This means padding and border are INCLUDED in an elements total width */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #393f41;
}

/* link colours */
.item a {
    color: #393f41;
    text-decoration: underline;
}
.item a:hover {
    background-color: #eb9434;
}

nav {
    padding: 10px;
    background-color: #aff4c6;
}

header {
    padding: 0 !important;
    margin: 0 !important;
}
/* use flexbox for responsive layout */ 
.containervb {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0;
    width: 100%;
}

.item {
    width: 30%;
    background-color: #77caeb;
}
.item h2 {
    background-color: #ffd23e;
    padding: 20px;
    margin: 0;
}
.item div {
    padding: 20px;
}

.item2 {
    width: 50%;
    text-align: left;
}

header {
    text-align: center;
    background-color: #77caeb;
    margin: 0 0 20px 0;
    padding: 20px;
}

h1 {
    font-size: 3rem;
    font-weight: normal;
    padding: 20px 0;
    margin: 0;
}
h2 {
    font-size: 1.7rem;
    font-weight: normal;
}

/* When the screen is less than 800 pixels wide, stack the contents */
@media screen and (max-width: 800px) {
    .containervb {
        flex-wrap: wrap;
        justify-content: center;
    }
    .item {
        width: 100%;
        margin-bottom: 20px;
    }
    .item2 {
        width: 100%;
        margin-bottom: 20px;
    }
  }

/*W3Schools pop up code
  /* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 5px 20px;
    background-color: #6b5d4d;
    color: #ffffff;
  }
.popup:hover {
    background-color: #eb9434;
    color: #393f41;
}
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #6b5d4d;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -40px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #6b5d4d transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }